.city-header {
  margin: -30px -30px 30px -30px;;
  height: 250px;
  width: clear;
  background-size: cover;
  background-position: center;
  .city-name {
    font-size: 120px;
    color: white;
    font-style: italic;
  }
  .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(247,191,77,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.events-page {
  padding: 30px;
  min-height: 500px;
  display: flex;
  flex-direction: column;

  .new-event-link {
    align-self: center;
    color: white;
    align-items: center;
    padding: 15px 0px;
    margin: 10px;
    width: 650px;
    background-color: #EF6236;
    text-align: center;
    border-radius: 8px;
  }
}
.info-container {
  border: solid 1px gray;
  width: 27%;
  height: 350px;
  padding-bottom: 30px;
  margin: 3% 3%;
  float: left;
  background-color: white;
  .info-and-pic {
    padding: 0px 20px;
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .time-container {
      display: flex;
      flex-direction: column;
      .date {
        font-size: 50px;
        margin-top: 30px;
      }
      .meeting-time {
        display: flex;
        justify-content: left;
        align-items: center;
        h3 {
          font-size: 20px;
          margin-right: 10px;
          color: gray;
        }
        .start-time {
          font-size: 20px;
          color: gray;
        }
      }
    }
    .host-info {
      border: solid 2px #F5BC4C;
      padding: 3px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      .host-pic {
        width: 100px;
        height: 100px;
        background-size: cover;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
      }
      h1 {
        color: #EF6236;
      }
    }
  }
  .name-and-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .event-name {
      font-size: 25px;
    }
    .address {
      color: gray;
    }
    .hr {
      width: 80%;
    }
  }

}

.join-button {
  padding-bottom: 5px;
  color: white;
  background-color: #EF6236;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;

}

.unjoin-button {
  padding-bottom: 5px;
  color: white;
  background-color: gray;
  height: 30px;
  width: 60px;
  text-align: center;
  border-radius: 8px;
  font-size: 18px;
}

.attendance-status {
  text-align: center;
  color: #EF6236;
  margin-bottom: 10px;
  margin-top: 10px;
}
.space {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}
.rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
