footer {
  clear: both;
  .footer-component {
    background-color: #F5BC4C;
    display: flex;
    justify-content: space-between;
    height: 250px;
    .footer-links {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding-top: 46px;
      padding-left: 100px;
      a {
        text-align: right;
        width: 70%;
        font-size: 12px;
      }

    }
    .final-info {
      width: 80%;
      margin: 25px;
      p {
        font-size: 18px;
        font-weight: 100;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 20px;
      }
    }
  }
}
