footer {
  clear: both;
  .footer-component {
    background-color: #F5BC4C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 15px;
    height: 200px;
    .footer-logo {
      width: 400px;
      height: auto;
      align-self: center;
      padding-top: 60px;
      img {
        width: 100%;
        height: 100%
      }
    }
    .footer-links {
      align-self: center;
      width: 90%;
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      .footer-link {
        text-align: center;
        width: 70%;
        font-size: 20px;
      }
      a:hover {
        color: white;
      }
      button:hover {
        color: white;
      }

    }
    .final-info {
      width: 80%;
      margin: 25px;
      p {
        font-size: 18px;
        font-weight: 100;
        font-family: 'Lato', sans-serif;
        color: white;
        padding: 20px;
      }
    }
  }
}
