/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import url("https://fonts.googleapis.com/css?family=Lato:700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 2, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/css_reset.css */
html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-family: 'Lato', sans-serif;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 21, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/css_reset.css */
ul {
  list-style: none;
}

/* line 25, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/css_reset.css */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 31, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/css_reset.css */
input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 46, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/css_reset.css */
button,
input[type="submit"] {
  cursor: pointer;
}

/* line 1, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.events-page {
  padding: 30px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
/* line 6, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.events-page .new-event-link {
  align-self: center;
  color: white;
  align-items: center;
  padding: 15px 0px;
  width: 650px;
  background-color: #EF6236;
  text-align: center;
  border-radius: 8px;
}

/* line 17, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container {
  border: solid 1px gray;
  width: 27%;
  height: 100%;
  padding-bottom: 30px;
  margin: 3% 3%;
  float: left;
  background-color: white;
}
/* line 25, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic {
  padding: 0px 20px;
  margin-top: -1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 31, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .time-container {
  display: flex;
  flex-direction: column;
}
/* line 34, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .time-container .date {
  font-size: 50px;
  margin-top: 30px;
}
/* line 38, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .time-container .meeting-time {
  display: flex;
  justify-content: left;
  align-items: center;
}
/* line 42, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .time-container .meeting-time h3 {
  font-size: 20px;
  margin-right: 10px;
  color: gray;
}
/* line 47, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .time-container .meeting-time .start-time {
  font-size: 20px;
  color: gray;
}
/* line 53, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .host-info {
  border: solid 2px #F5BC4C;
  padding: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 60, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .host-info .host-pic {
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
/* line 68, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .info-and-pic .host-info h1 {
  color: #EF6236;
}
/* line 73, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .name-and-address {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 78, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .name-and-address .event-name {
  font-size: 25px;
}
/* line 81, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .name-and-address .hr {
  width: 80%;
}
/* line 84, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/events_index.scss */
.info-container .name-and-address .address {
  color: gray;
}

/* line 1, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer {
  clear: both;
}
/* line 3, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer .footer-component {
  background-color: #F5BC4C;
  display: flex;
  justify-content: space-between;
  height: 250px;
}
/* line 8, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer .footer-component .footer-links {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  padding-left: 100px;
}
/* line 14, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer .footer-component .footer-links a {
  text-align: right;
  width: 70%;
  font-size: 12px;
}
/* line 21, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer .footer-component .final-info {
  width: 80%;
  margin: 25px;
}
/* line 24, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/footer_stylesheet.scss */
footer .footer-component .final-info p {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 20px;
}

/* line 2, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/header_stylesheet.scss */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 60px;
  background-color: #F5BC4C;
}
/* line 9, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/header_stylesheet.scss */
.nav-bar a {
  color: white;
}

/* line 14, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/header_stylesheet.scss */
.general-greeting {
  margin-right: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
/* line 19, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/header_stylesheet.scss */
.general-greeting a, .general-greeting button {
  font-size: 17px;
  margin-left: 10px;
  background: none;
  padding: 15px;
  font-family: 'Lato', sans-serif;
  color: white;
  border: none;
  outline: none;
}

/* line 5, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 11, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-index {
  width: 900px;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 18, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-index .city-link {
  margin: 25px;
  height: 160px;
  width: 400px;
  background-size: cover;
  background-position: center;
}
/* line 19, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-index .city-link .filter {
  width: 100%;
  height: 100%;
  background-color: rgba(247, 191, 77, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 26, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-index .city-link .filter h2 {
  color: white;
  font-size: 50px;
}
/* line 40, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px;
}
/* line 45, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-intro h2 {
  color: #EF6236;
  font-size: 45px;
  font-weight: bold;
}
/* line 50, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-intro p {
  margin-top: 15px;
  color: #5C5C5C;
}
/* line 55, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 60, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-explanation h1 {
  padding: 40px 0px;
  color: #EF6236;
  font-size: 40px;
}
/* line 65, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .locations-explanation p {
  font-size: 25px;
}
/* line 70, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .new-locations {
  heigth: 300px;
  width: 700px;
  margin: 40px 0px;
}
/* line 75, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .new-city-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* line 81, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/locations.scss */
.locations-page .new-city-columns .city {
  margin: 18px;
  color: #EF6236;
}

/* line 1, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.login-form-box {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* line 10, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.login-form {
  background-color: #FAF6E8;
  width: 650px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
/* line 16, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.login-form input {
  border: 1px solid;
}
/* line 19, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.login-form .login-button {
  color: white;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 40px;
  width: 650px;
  background-color: #EF6236;
  text-align: center;
  border-radius: 8px;
}

/* line 31, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.errors {
  padding: 3px;
}

/* line 36, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/login_style.scss */
.login-form-input {
  display: flex;
  flex-direction: column;
  width: 640px;
  height: 58px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 10px;
}

/* line 3, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 400px;
  background-image: url("https://res.cloudinary.com/dql6mlrow/image/upload/v1506117282/background2.jpg");
  background-size: cover;
}
/* line 11, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-section h1 {
  margin-top: 30px;
  font-size: 45px;
  color: white;
}
/* line 17, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .divider {
  height: 110px;
  background-color: #F3ECCE;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 23, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .divider .explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* line 30, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .divider .explanation h2 {
  color: #EF6236;
  font-size: 20px;
}
/* line 34, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .divider .explanation p {
  color: black;
  font-size: 16px;
}
/* line 40, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container {
  display: flex;
  flex-direction: column;
  background-color: white;
}
/* line 41, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container p {
  padding: 10px;
  text-align: center;
}
/* line 48, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container .pitch {
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* line 54, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container .pitch img {
  width: 350px;
  height: 350px;
  margin: 50px;
}
/* line 59, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container .pitch .words {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-right: 30px;
  max-width: 40%;
}
/* line 68, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container .pitch .words .summary {
  font-size: 35px;
  color: #EF6236;
}
/* line 72, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.main-page .pitch-container .pitch .words .paragraph {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

/* line 86, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_page.scss */
.signup-button {
  color: white;
  vertical-align: middle;
  align-items: center;
  padding: 16px;
  width: 353px;
  height: 60px;
  background-color: #EF6236;
  text-align: center;
  border-radius: 8px;
}

/* line 2, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/main_view.scss */
.main-view {
  min-height: 500px;
  background-color: #FAF6E8;
  background-size: cover;
  overflow-y: auto;
}

/* line 1, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 8, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page h1 {
  font-size: 30px;
  margin-top: 15px;
}
/* line 12, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form {
  margin-top: 20px;
  background-color: #FAF6E8;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* line 19, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form input {
  outline: 1;
  border: 1px solid;
  height: 60px;
  margin: 10px 0px;
  padding-left: 20px;
}
/* line 26, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form .event-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 30, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form .event-time .event-hour {
  font-size: 20px;
  text-align: center;
  outline: 1;
  overflow: hidden;
  height: 60px;
  background: gray;
  color: white;
  border: #2c343c;
  padding: 5px 3px 5px 10px;
  width: 55%;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
/* line 50, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form .time-date {
  color: gray;
  border-color: black;
}
/* line 54, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/new_event_form.scss */
.event-form-page .event-form .create-event-button {
  color: white;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 0px;
  width: 600px;
  background-color: #EF6236;
  text-align: center;
  border-radius: 8px;
}

/* line 1, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/signup_style.scss */
.signupFormBox {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

/* line 9, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/signup_style.scss */
.signupForm {
  padding: 20px;
  background-color: red;
  min-width: 400px;
}

/* line 15, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/signup_style.scss */
.signupFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
  border: none;
}

/* line 23, /Users/kentakodama/Desktop/app_academy/wine_with_strangers/app/assets/stylesheets/api/signup_style.scss */
.signupFormInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30px;
  border: none;
}
