<!DOCTYPE html>
<html>
  <head>
    <title>Wine with Strangers</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://findicons.com/files/icons/2146/realistik_reloaded/128/wine.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
